RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/events/?$ api/events.php [NC,L]
RewriteRule ^api/events/([0-9]+)/?$ api/events.php?id=$1 [NC,L] 